* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: #5c3024;
    color: #5c3024;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
}

.logo img {
    max-width: 120px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.sidebar nav a {
    padding: 15px 20px;
    color: #eee0cb;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
    background-color: #6d453a;
    color: #ffffff;
}
