.modalExcluir {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.modal-conteudo {
    background-color: #fbfaf9;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
}

.modal-conteudo p {
    margin-bottom: 10px;
}

.btn-cancelar2 {
    background-color: #eee0cb;
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 80px;
    cursor: pointer;
}

.btn-confirmar {
    background-color: #5c3024;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 80px;
    cursor: pointer;
}

.btn-confirmar:hover,
.btn-cancelar2:hover{
    opacity: 0.9;
}