.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    align-items: center;
    justify-content: center;
}

.modal-conteudo {
    background-color: #fbfaf9;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
}

.modal-conteudo h3 {
    font-family: 'Playfair Display', 'Dm Sans', 'Inter', Arial;
    color: #5c3024;
    justify-content: center;
    margin-bottom: 10px;
}

.modal-conteudo input{
    padding: 4px;
    margin-bottom: 10px;
}

.fechar {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

.modal-acoes {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.btn-cancelar {
    background-color: #eee0cb;
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 80px;
    cursor: pointer;
}

.btn-salvar {
    background-color: #5c3024;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 80px;
    cursor: pointer;
}

.btn-salvar:hover,
.btn-cancelar:hover{
    opacity: 0.9;
}