* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dm Sans', 'Inter', Arial, sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    background-color: #fdf6ee;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header h1 {
    color: #5c3024;
    font-family: 'Playfair Display', 'Dm Sans', 'Inter', Arial;
}

.btn-primary {
    background-color: #5e3023;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #b48b7d;
}

.btn-edit {
    text-decoration: none;
    font-size: 14px;
    background-color: #567568;
    color: white;
    border: none;
    padding: 6px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete {
    background-color: #5e3023;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #eee0cb;
    color: #161925;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

select {
    width: 180px;
    height: 32px;
    font-size: 14px;
    padding: 4px;
    margin-bottom: 10px;
}

/* CSS Pesquisa*/
  .div-pesquisa{
    margin-bottom: 16px;
  }

  .barra-pesquisa{
    width: 400px;
    height: 32px;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid 1px #5c3024;
    padding-left: 7px;
    margin-right: 10px;
  }

  .barra-pesquisa:focus{
    border-style: solid 2px #5c3024;
    border-color: #5c3024;
    outline:none;
  }

  .filtro-categoria{
    width:160px;
    border: solid 1px #5c3024;
  }

  .filtro-categoria:focus{
    border-color: #5c3024;
    outline: none;
    border-style: solid 2px #5c3024;
  }