<div th:fragment="detalheComanda" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Listagem dos Pedidos da Comanda -->
    <h3 th:text="'Mesa ' + ${comanda.mesa.numero} + ' - '+ ${comanda.nomeCliente}"></h3>
    <p>Valor Total: <span th:text="'R$ ' + ${comanda.valor}"></span></p>
    <hr>
    <h4>Pedidos</h4>
    <div class="header-detalhe">
        <span th:text="'Pedidos abertos: ' + ${pedidosComanda[comanda.id] != null ? #lists.size(pedidosComanda[comanda.id]) : 0}"></span>
        <button type="button" th:onclick="'abrirModalPedido(' + ${comanda.id} + ')'" class="btn-novo-pedido">+ Novo Pedido</button>
    </div>
    <div class="card-pedido" th:each="pedido : ${pedidosComanda[comanda.id]}" >
        <div style="display: flex; justify-content: space-between">
            <p th:text="${pedido.status}" class="status-pedido" th:classappend="${pedido.status.name().toLowerCase()}"></p>
            <p th:text="'Valor: R$ ' + ${pedido.calcularValor()}"></p>
        </div>
        <hr>
        <div th:each="itemPedido : ${pedido.itens}" style="display: flex; justify-content: space-between">
            <p th:text="${itemPedido.quantidade} + 'x ' + ${itemPedido.produto.nome}"></p>
            <span th:text="${itemPedido.subtotal}"></span>
            <p th:text="${itemPedido.statusItem}"></p>
        </div>
    </div>

    <div id="modalNovoPedido" class="modal">
        <div class="modal-conteudo layout-pedido">
            <span class="fechar" onclick="fecharModalPedido()">&times;</span>
            <input type="hidden" name="comandaId" id="comandaIdInput">
            <div class="coluna-produtos">
                <form th:action="@{/garcom/pedidos}" method="post">
                    <input type="hidden" name="comandaId" th:value="${comanda.id}">

                    <div th:each="produto : ${produtos}" class="card-produto">
                        <div class="info-produto">
                            <div>
                                <p th:text="${produto.nome}"></p>
                                <span th:text="'R$ ' + ${produto.preco}"></span>
                            </div>
                            <div class="controle-quantidade">
                                <button type="button" onclick="alterarQuantidade(this, -1)" class="botao-quant-pedido">-</button>
                                <input type="number" name="quantidades" value="0" min="0" class="input-quant-pedido">
                                <button type="button" onclick="alterarQuantidade(this, 1)" class="botao-quant-pedido">+</button>
                            </div>
                        </div>
                        <input type="text" name="observacoes" placeholder="Observação (opcional)" class="input-observacao">
                        <input type="hidden" name="produtosIds" th:value="${produto.id}">
                    </div>
                    <button type="submit">Confirmar Pedido</button>
                </form>
            </div>
            <div class="coluna-pedido">
                <h3>Pedido Atual</h3>
                <div id="listaPedido"></div>
                <hr>
                <h4>Total: R$ <span id="totalPedido"></span></h4>
                <button type="button" class="btn-cancelar" onclick="fecharModalPedido()">Cancelar</button>
            </div>
        </div>
    </div>
</div>