<div th:fragment="detalheComanda" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Nota Fiscal Comanda -->
    <div class="modal" id="fechamentoComandaModal">
        <div>
            <div class="modal-conteudo">

                <div class="nota-fiscal">
                    <div class="header-nota">
                        <h5 th:text="${restaurante.nome}"></h5>
                        <p>CNPJ: <span th:text="${restaurante.cnpj}"></span></p>
                        <p>Telefone: <span th:text="${restaurante.telefone}"></span></p>
                    </div>

                    <hr>

                    <div>
                        <p>Comanda: <span th:text="${comanda.id}"></span></p>
                        <p>Mesa: <span th:text="${comanda.mesa.numero}"></span></p>
                        <p>Data: <span th:text="${#temporals.format(comanda.dataAbertura,'dd/MM/yyyy HH:mm')}"></span></p>
                    </div>

                    <hr>

                    <table class="tabela-itens">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qtd</th>
                                <th>Vl. Unit</th>
                                <th>Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="itemPedido : ${comanda.itens}">
                                <td th:text="${itemPedido.nome}"></td>
                                <td th:text="${itemPedido.quantidade}"></td>
                                <td th:text="${itemPedido.produto.preco}"></td>
                                <td th:text="${itemPedido.calcularSubtotal()}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>

                    <div class="totais">
                        <p>TOTAL R$ <span th:text="${comanda.valor}"></span></p>
                    </div>

                    <hr>

                    <div class="footer-nota">
                        <div class="rodape text-center">
                            <p>Documento sem valor fiscal</p>
                            <p>Obrigado pela preferência!</p>
                        </div>
                    </div>
                </div>

                <div class="footer-modal">
                    <form th:action="@{/comandas/fechar}" method="post">
                        <input type="hidden" name="comandaId" th:value="${comanda.id}">
                        <button class="btn-confirmar">Confirmar fechamento</button>
                        <button class="btn-cancelar">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>