<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head('Modal Trocar Mesa')}"></th:block>
</head>
<body>
<div id="modalTrocaMesa" class="modal">
    <div class="modal-conteudo">
        <span class="fechar" onclick="fecharModal()">&times;</span>
        <script th:if="${mostrarModal}">
            document.addEventListener("DOMContentLoaded", function (){
                document.getElementById("modal").style.display = "block";
            });
        </script>
        <h3>Mover a comanda para outra mesa</h3>

        <form th:action="@{/garcom/comandas/modal-trocar-mesa/salvar}" th:object="${comanda}" method="post" id="form">
            <input type="hidden" th:field="*{id}">
            <label>Número da mesa:</label>
<!--            <input type="" th:field="*{mesa}" name="mesa" required>-->
            <select th:field="*{mesa}" name="mesa" required>
                <option value="">Selecione</option>
                <option th:each="mesa : ${mesas}" th:text="${mesa.numero}" th:value="${mesa.id}"></option>
            </select>
            <div class="modal-acoes">
                <button type="submit" class="btn btn-salvar">Confirmar troca</button>
                <button type="button" class="btn btn-cancelar" onclick="fecharModal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>