<div th:fragment="layout" class="layout" xmlns:th="http://www.w3.org/1999/xhtml">
    <aside class="sidebar" th:fragment="menu-lateral">
            <div class="logo">
                <img th:src="@{/assets/logoMeson.png}" alt="Logo Restaurante">
            </div>

            <nav>
                <a th:href="@{/admin/dashboard}">Dashboard</a>
                <a th:href="@{/admin/categorias}">Categorias</a>
                <a th:href="@{/admin/produtos}">Produtos</a>
                <a th:href="@{/admin/mesas}">Mesas</a>
                <a th:href="@{/admin/comandas}">Comandas</a>
                <a th:href="@{/admin/pedidos}">Pedidos</a>
                <a th:href="@{/admin/cardapio}">Cardápio</a>
            </nav>
        </aside>
</div>