<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Categorias Produtos</title>
</head>
<body>
    <h2>Categorias</h2>

    <a href="/categorias/nova">Nova Categoria</a>

    <table>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>

        <tr th:each="c : ${categorias}">
            <td th:each="${c.nome}"></td>
            <td>
                <a th:href="@{/categorias/editar/{id}(id=${c.id})}">Editar</a>
                <a th:href="@{/categorias/desativar/{id}(id=${c.id})}">Desativar</a>
            </td>
        </tr>
    </table>
</body>
</html>