<div th:fragment="detalheMesa" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal de Detalhes da Mesa -->
    <h3 th:text="'Mesa ' + ${mesa.numero}"></h3>
    <div class="header-detalhe">
        <span th:text="'Comandas abertas: ' + ${#lists.size(comandas)}"></span>
        <button type="button" th:onclick="'abrirModalComanda(' + ${mesa.id} + ')'" class="btn-nova-comanda">+ Nova Comanda</button>
    </div>
    <!-- Listagem das Comandas da Mesa -->
    <div class="card-comanda" th:each="comanda : ${comandas}" >
        <div>
            <p><b>Nome: </b><span th:text="${comanda.nomeCliente}"></span></p>
            <p th:text="${comanda.status}" class="status-comanda" th:classappend="${comanda.status.name().toLowerCase}"></p>
            <p>Valor:<span th:text="' R$ ' + ${comanda.valor != null ? comanda.valor : '0.00'}"></span></p>
        </div>
        <div class="div-btn-fechar-comanda">
            <button type="button" class="btn-ver-detalhes" th:onclick="'abrirModalDetalheComanda(' + ${comanda.id} + ')'">Ver Detalhes</button>
            <button class="btn-fechar-comanda">Fechar Comanda</button>
        </div>
    </div>

    <div id="modalNovaComanda" class="modal">
        <div class="modal-conteudo">
            <span class="fechar" onclick="fecharModalComanda()">&times;</span>
            <h3>Nova Comanda</h3>

            <form th:action="@{/garcom/comandas}" method="post">
                <div class="form-div">
                    <input type="hidden" name="mesaId" id="mesaIdInput">
                    <div>
                        <label>Nome do cliente:</label>
                        <input type="text" name="nomeCliente" required>
                    </div>
                </div>

                <div class="modal-acoes">
                    <button type="submit" class="btn-comanda">Abrir Comanda</button>
                    <button type="button" class="btn-cancelar" onclick="fecharModalComanda()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>