<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{fragments/head :: head('Aprovar Restaurantes')}"></th:block>
</head>
<body>
<div class="layout">
    <aside th:replace="~{fragments/menu-lateral-adminGeral :: menu-lateral}"></aside>

    <main class="content">
        <header class="header">
            <h1>Restaurantes</h1>
        </header>
        <!-- Listagem de Restaurantes -->
        <section class="restaurantes">
            <div class="card-restaurante" th:each="restaurante : ${restaurantes}" th:classappend="${restaurante.status}">
                <div th:onclick="'abrirModalDetalheRestaurante(' + ${restaurante.id} + ')'">
                    <span class="titulo-restaurante" th:text="${restaurante.razaoSocial}"></span>
                    <h4 th:text="${restaurante.nomeFantasia}"></h4>
                    <span class="cnpj" th:text="${cnpj}"></span>

                    <p>
                        <span th:text="'Cnae: ' + ${restaurante.cnae} + ' - ' + ${restaurante.descricaoCnae}"></span>
                    </p>
                    <div>
                        <button class="btn-aprovar">Aprovar</button>
                        <button class="btn-recusar">Recusar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

    <div class="modal-restaurante">
        <h4 th:text="${restaurante.nomeFantasia}"></h4>
        <div class="info-rest">

        </div>

        <div class="info-adm">

        </div>
    </div>

<style>
.modal-restaurante{}

.info-rest{}

.info-adm{}

</style>
</body>
</html>