<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: head('CRUD Categorias')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/modeloTelas.css}">
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/modalIncluir.css}">
    <link rel="stylesheet" th:href="@{/css/modalExcluir.css}">
    <script th:src="@{/js/modalIncluir.js}"></script>
</head>
<body>

<div class="layout">
    <aside th:replace="~{fragments/menu-lateral-admin :: menu-lateral}">
    </aside>

    <main class="content">
        <header class="header">
            <h1>Categorias</h1>
            <button type="button" class="btn-primary" onclick="modalAdd()">+ Nova Categoria</button>
        </header>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ativa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="categoria, row : ${categorias}">
                <td th:text="${categoria.nome}"></td>
                <td th:text="${categoria.ativa == true} ? 'Sim' : 'Não'"></td>
                <td>
                    <a th:href="@{/admin/categorias/editar/{id}(id=${categoria.id})}" class="btn-edit">Editar</a>
                    <button type="button" class="btn-delete" th:onclick="'abrirModalExclusao(' + ${categoria.id} + ')'">Excluir</button>
                </td>
            </tr>
            </tbody>
        </table>
    </main>

</div>

<div id="modal" class="modal">
    <div class="modal-conteudo">
        <span class="fechar" onclick="fecharModal()">&times;</span>
        <script th:if="${mostrarModal}">
            document.addEventListener("DOMContentLoaded", function (){
                document.getElementById("modal").style.display = "block";
            });
        </script>
        <h3>Nova Categoria</h3>

        <form th:action="@{/admin/categorias/salvar}" th:object="${categoria}" method="post" id="form">
            <input type="hidden" th:field="*{id}">
            <label>Nome da Categoria:</label>
            <input type="text" th:field="*{nome}" name="nome" required>

            <div class="modal-acoes">
                <button type="submit" class="btn btn-salvar">Salvar</button>
                <button type="button" class="btn btn-cancelar" onclick="fecharModal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<script>
    function abrirModalExclusao(id) {
        const form = document.getElementById("formExclusao");
        form.action = "/admin/categorias/excluir/" + id;
        document.getElementById("modalExclusao").style.display = "block";
    }

    function fecharModalExclusao() {
        document.getElementById("modalExclusao").style.display = "none";
    }
</script>

<div class="modalExcluir" id="modalExclusao">
    <div class="modal-conteudo">
        <form method="post" id="formExclusao">
            <p>Tem certeza de que deseja excluir esta categoria?</p>

            <button type="submit" class="btn-confirmar">Confirmar</button>
            <button type="button" class="btn-cancelar2" onclick="fecharModalExclusao()">Cancelar</button>
        </form>
    </div>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Dm Sans', 'Inter', Arial, sans-serif;
    }

    .modalExcluir{
        display: none;
    }
</style>
</body>
</html>
