<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head('CRUD Funcionários')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/modeloTelas.css}">
    <link rel="stylesheet" th:href="@{/css/modalIncluir.css}">
    <link rel="stylesheet" th:href="@{/css/modalExcluir.css}">
    <script th:src="@{/js/modalIncluir.js}"></script>
</head>
<body>
<div class="layout">
    <aside th:replace="~{fragments/menu-lateral-admin :: menu-lateral}">
    </aside>

    <main class="content">
        <header class="header">
            <h1>Funcionários</h1>
            <button type="button" th:onclick="modalAdd()" class="btn-primary">+ Novo funcionário</button>
        </header>

        <div class="div-pesquisa">
            <input id="buscaFunc" class="barra-pesquisa" type="text" name="nome" placeholder="Buscar funcionário..." th:value="${nome}">

            <select id="perfil" class="filtro">
                <option value="">Todas as categorias</option>
                <option th:each="perfil : ${perfis}" th:text="${perfil.descricao}" th:value="${perfilUsuario}"></option>
            </select>
        </div>

        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Perfil</th>
                <th>Email</th>
                <th>Ativo</th>
            </tr>
            </thead>
            <tbody th:fragment="tabelaFuncionarios">
            <tr th:each="usuario, row : ${funcionarios}">
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.perfilUsuario}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.ativo == true} ? 'Sim' : 'Não'"></td>
                <td>
                    <a th:href="@{/admin/funcionarios/editar/{id}(id=${usuario.id})}"><button class="btn-edit">Editar</button></a>
                    <button type="button" class="btn-delete" th:onclick="'abrirModalExclusao(' + {usuario.id} +')'">Excluir</button>
                </td>
            </tr>
            </tbody>
        </table>
    </main>

</div>

<div id="modal" class="modal">
    <div class="modal-conteudo">
        <span class="fechar" onclick="fecharModal()">&times;</span>
        <script th:if="${mostrarModal}">
            document.addEventListener("DOMContentLoaded", function (){
                document.getElementById("modal").style.display = "block";
            });
        </script>
        <h3>Novo funcionário</h3>

        <form th:action="@{/admin/funcionarios/salvar}" th:object="${funcionario}" method="post" id="form">
            <div class="form-div">
                <div>
                    <label>Nome do funcionário:</label>
                    <input th:field="*{nome}" type="text" name="nome" required>
                </div>

                <div>
                    <label>Email do funcionário:</label>
                    <input th:field="*{email}" type="email" name="capacidade" required>
                </div>

                <div>
                    <label>Cargo:</label>
                    <select th:field="*{perfilUsuario}"  required>
                        <option value="">Selecione</option>
                        <option th:each="perfil : ${perfis}" th:text="${perfil.descricao}" th:value="${perfil}"></option>
                    </select>
                </div>
            </div>

            <div class="modal-acoes">
                <button type="submit" class="btn btn-salvar">Salvar</button>
                <button type="button" class="btn btn-cancelar" onclick="fecharModal()">Cancelar</button>
<!--                <button type="submit" class="btn btn-salvar">Ativar</button>-->
            </div>
        </form>
    </div>
</div>

<script>
    function abrirModalExclusao(id) {
        const form = document.getElementById("formExclusao");
        form.action = "/admin/funcionarios/excluir/" + id;
        document.getElementById("modalExclusao").style.display = "block";
    }

    function fecharModalExclusao() {
        document.getElementById("modalExclusao").style.display = "none";
    }
</script>

<div class="modalExcluir" id="modalExclusao">
    <div class="modal-conteudo">
        <form method="post" id="formExclusao">
            <p id="textoExclusao">Tem certeza que deseja excluir este funcionário?</p>
            <button type="submit" class="btn-confirmar">Confirmar</button>
            <button type="button" class="btn-cancelar2" onclick="fecharModalExclusao()">Cancelar</button>
        </form>
    </div>
</div>

<script th:src="@{/js/barras-pesquisa/buscarFuncionario.js}"></script>

<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dm Sans', Arial, sans-serif;
}
</style>
</body>
</html>