<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head('CRUD ')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/modeloTelas.css}">
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/modalIncluir.css}">
    <script th:src="@{/js/modalIncluir.js}"></script>
</head>
<body>

<div class="layout">
    <aside th:replace="~{fragments/menu-lateral-admin :: menu-lateral}"></aside>

    <main class="content">
        <header class="header">
            <h1>Mesas</h1>
            <button type="button" class="btn-primary" onclick="modalAdd()">+ Nova Mesa</button>
        </header>

        <table>
            <thead>
            <tr>
                <th>N° da Mesa</th>
                <th>Capacidade</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mesa, row : ${mesas}">
                <td th:text="${mesa.numero}"></td>
                <td th:text="${mesa.capacidade}"></td>
                <td th:text="${mesa.status}"></td>
                <td>
                    <button class="btn-edit">Editar</button>
                    <button class="btn-delete">Excluir</button>
                </td>
            </tr>
            </tbody>
        </table>

    </main>
</div>

<div id="modal" class="modal">
    <div class="modal-conteudo">
        <span class="fechar" onclick="fecharModal()">&times;</span>
        <script>
        function criarComandaMesa(){
        document.getElementById('mesa').addEventListener('click', modalAdd(){});
        }
        </script>
        <h3>Nova Mesa</h3>

        <form th:action="@{/admin/mesas/salvar}" method="post">
            <div class="form-div">
                <div>
                    <label>N° da mesa:</label>
                    <input type="text" name="numero" required>
                </div>

                <div>
                    <label>Capacidade:</label>
                    <input type="number" min="1" step="1" name="capacidade" required>
                </div>
            </div>

            <div class="modal-acoes">
                <button type="submit" class="btn btn-salvar">Salvar</button>
                <button type="button" class="btn btn-cancelar" onclick="fecharModalCategoria()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dm Sans', Arial, sans-serif;
}

</style>
</body>
</html>
