spring:
  application:
    name: meson

  sql:
    init:
      mode: always

  datasource:
    url: jdbc:postgresql://localhost:5431/meson_restaurantes
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

  thymeleaf:
    cache: false